.ReactEasyChartContainer {
  margin-top: 20px;
}

.ReactEasyChartContainer__header {
  margin-bottom: 10px;
  margin-top: 10px;
  size: 24px;
}

.ReactEasyChartContainer__charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
